/* Set the height of the body element to 100% */
body {
  height: 100%;
}

/* Styling for the main background section */
.main_background {
  /* Set background image from the asset folder */
  background-image: url("./asset/download.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  /* Align the content to the center in full-screen mode */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Styling for the operation card element */
.operation_card_element {
  /* Set dimensions for the test element */
  height: 40%;
  width: 35%;

  /* Align items to the center */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  /* Center the div */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* Styling for the card view */
  border-radius: 1cap;
  border: 1px dotted rgb(221, 197, 170);
  gap: 40px; /* Set space between components */
  padding: 10px; /* Set padding from borders for inside components */

  /* Apply blur filtering and transparency */
  background: rgba(255, 221, 147, 0.3);
  backdrop-filter: blur(10px);
}

/* Styling for the error element */
#error_element {
  display: none;
  border-radius: 1cap;
  background-color: rgb(221, 197, 170);
}

/* Styling for the error text within the error element */
#error_text {
  font-size: medium;
  font-weight: bold;
  font-family: Tahoma;
  color: rgb(131, 0, 0);
  padding: 10px;
}

/* Styling for the top heading element */
.top_heading {
  font-size: medium;
  font-weight: bold;
  font-family: Tahoma;
  color: rgb(49, 6, 6);
  align-self: center;
  margin-bottom: auto;
}

/* Styling for the bottom center heading element */
.bottom_center_heading {
  font-size: medium;
  font-family: Tahoma;
  font-weight: bold;
  align-self: center;
  color: rgb(86, 13, 17);
  margin-bottom: auto;
}

/* Styling for the input name header */
.input_name_header {
  font-size: medium;
  font-family: Tahoma;
  color: rgb(49, 6, 6);
}

/* Styling for the name input element */
#name {
  border: 1px dotted rgb(49, 6, 6);
  max-width: 100%;
  width: 100%;
  height: 2em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 1cap;
}

/* Styling for labels */
label {
  font-size: medium;
  font-family: Tahoma;
  color: rgb(49, 6, 6);
}

/* Styling for buttons */
button {
  background-color: rgb(218, 192, 163);
  font-size: medium;
  font-family: Tahoma;
  color: rgb(49, 6, 6);
  border: 1px dotted rgb(49, 6, 6);
  border-radius: 1cap;
  padding: 5px;
}

/* Styling for paragraphs */
p {
  font-size: small;
  font-family: Tahoma;
  color: rgb(49, 6, 6);
}

/* Styling for saved answer elements */
.saved-answer-element {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  border: 1px dotted rgb(49, 6, 6);
  padding: 10px;
  border-radius: 1cap;
}